<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-03-05T09:25:28Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mymac/Desktop/My_Work/Project/umc-product-iOS/UMCApp/UMCApp.xcworkspace</string>
</dict>
</plist>
