//
//  Secrets.xcconfig
//  AppProduct
//
//  Created by euijjang97 on 1/29/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_KEY= 0f717a92fe343c7f22c3f9d7f9b953da
BASE_URL= https:/$()/dev.api.umc.it.kr/swagger-ui/index.html#/
